@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 209, 213, 219;
  --background-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fade-out {
  display: inline-block;
  opacity: 1;
  animation: fadeOut 10s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@media (prefers-reduced-motion: reduce) {
  .fade-out {
    animation: none;
  }
}